@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Open+Sans:wght@300&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5ca558;
}

.conteudo {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.escrita {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    width: 300px;  
    border-radius: 20px 0px 0px 20px; 
    padding: 10px 50px 50px 50px;
    box-shadow: 40px -15px #50890f7a;}

.escrita-imagem {
    width: 300px;
}

.escrita-titulo {
    font-size: 30px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #356992;
}

.escrita-paragrafo {
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px 30px 0px;
    color: rgb(0, 0, 0);    
}

.escrita-link, .formulario-botao-cadastrar {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: #5ca558;
    color: white;
    height: 40px;
    width: 150px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center; 
    border: none;
}

.escrita-link:hover, .formulario-botao-cadastrar:hover  {
    background-color: #66cc60;
    cursor: pointer;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.76);
    height: 490px;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
    padding: 20px 50px 50px 50px;    
    box-shadow: 40px -15px #50890f7a;}

.formulario-informacoes {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: rgb(0, 0, 0);
}

.formulario-nome, .formulario-sobrenome, .formulario-email, .formulario-datanascimento, .formulario-confirmarsenha,  .formulario-senha {
    padding-top: 10px;
}

.formulario-checkbox {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.input {
    background-color: #356a9200;
    border: none;
    border-bottom: #5ca558 solid 1.5px;
}

.formulario-checkbox {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);  
}

.checkbox-link {
    text-decoration: none;
    color: #146fb4;
}

.checkbox-link:hover {
    text-decoration: underline;
}

.formulario-botao {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
