@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Open+Sans:wght@300&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #a5c581;
}

.conteudo {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.escrita {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    width: 300px;  
    border-radius: 200px 0px 0px 0px; 
    padding: 10px 50px 50px 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.548);
}

.escrita-imagem {
    width: 300px;
}

.escrita-titulo {
    font-size: 30px;
    font-family: 'Lora', serif;
    text-align: center;
    color: #356992;
}

.escrita-paragrafo {
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px 60px 0px;
    color: rgb(0, 0, 0);    
}

.escrita-link, .formulario-botao-cadastrar {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: #5ca558;
    color: white;
    height: 40px;
    width: 150px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center; 
    border: none;
    box-shadow: 1px 1px 10px black;
}

.escrita-link:hover, .formulario-botao-cadastrar:hover  {
    background-color: #66cc60;
    cursor: pointer;
}

.formulario {
    background-color: rgb(212, 245, 218);
    height: 490px;
    width: 300px;
    border-radius: 0px 0px 200px 0px;
    padding: 20px 50px 50px 50px;    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.548);    
}

.formulario-informacoes {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    color: #000000;
}

.formulario-informacoes label{
    padding-top: 10px;
    font-size: 12px;
    font-size: 10px;
    font-family: 'Lora', serif;
    color: #356992;
    font-weight: bold;
}

.formulario-checkbox {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.input {
    background-color: #356a9200;
    border: none;
    border-bottom: #50890f solid 1.5px;
    height: 20px;
}

.input:hover {
    border-bottom: #72c216 solid 1.5px;
    background: linear-gradient(80deg, #89be4d00 10%, #ace26e7c);
    color: #000000;
    height: 25px;
}

.input:focus {
    background: linear-gradient(80deg, #ace26e7c 10%, #89be4d00);
    transition-delay: 200s;
}

.checkbox-link {
    text-decoration: none;
    color: #146fb4;
}

.checkbox-link:hover {
    text-decoration: underline;
}

.formulario-botao {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}