.purple {
    --bg-color: #8051b9;
    --bg-image: url(../images/images-geometric/purple.png);
    --bg-section: white;
    --tittle-color: #070568;
    --input-color: #7544a6;
    --btn-color: #7244ac;
    --btn-border: #3a0f6e;
    --btn-hover-color: #632f97;
    --lines-color: #070568;
    --span-color: #070568;
    --link-color: #9944ef;
    --link-visited-color: #3300ff;
    --shadow-color: #1e1e1e;
}

.yellow {
    --bg-color: #ffc800c4;
    --bg-image: url(../images/images-geometric/yellow.png);
    --bg-section: #fff;
    --tittle-color: #e95b5b;
    --input-color: #960202;
    --btn-color: #e9c644;
    --btn-border: #c99d00;
    --btn-hover-color: #e3b408;
    --lines-color: #960202;
    --span-color: #960202;
    --link-color: #e95b5b;
    --link-visited-color: #e20404;
    --shadow-color: #9b7d13;
}

.blue {
    --bg-color: #05bdda;
    --bg-image: url(../images/images-geometric/blue.png);
    --bg-section: #fff;
    --tittle-color: #027181;
    --input-color: #027181;
    --btn-color: #038295;
    --btn-border: #003f49;
    --btn-hover-color: #027181;
    --lines-color: #027181;
    --span-color: #027181;
    --link-color: #05d2f1;
    --link-visited-color: #06b2cd;
    --shadow-color: #027181;
}

.green {
    --bg-color: #59a45b;
    --bg-image: url(../images/images-geometric/green.png);
    --bg-section: #fff;
    --tittle-color: #3a6a03;
    --input-color: #59a45b;
    --btn-color: #59a45b;
    --btn-border: #2d5104;
    --btn-hover-color: #3c9a3f;
    --lines-color: #59a45b;
    --span-color: #3a6a03;
    --link-color: #6eba16;
    --link-visited-color: #6eba16;
    --shadow-color: #004d03;
}