body {
    display: block;
    background-image: linear-gradient(135deg, #070568, #7544a6);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 5vw;
    gap: 20vw;
    height: 90px;
}

header img {
    height: 45px;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #1e1e1e;
    font-size: 18px;
}

#logout {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(145deg, #12268b, #9a4ab0);
    border: none;
    border-radius: 25px;
    color: white;
}

main img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: -91px;
    z-index: -1;
}

main {
    align-items: start;
    border-top: 1px solid #ffffff;
}

main div {    
    width: 38vw;    
    height: 80vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
    margin-left: 5vw;
}

h1 {
    color: white;
    text-align: start;
    font-size: 60px;
    font-weight: 550;
}

p {
    color: #ffffff;
    font-size: 1.1em;
    line-height: 20px;
    text-shadow: 1px 1px 5px #1e1e1e;
}

main div button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(145deg, #12268b, #9a4ab0);
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 25px;
}

em {
    color: #a262e6;
}