@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    margin: 0;  
    gap: 10px;  
       
    background-color: #8051b9;  
    background-image: url(../images-geometric/roxo.png);
    background-position: -20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Chakra Petch', sans-serif; 
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 570px;
    width: 350px;
}

#sec-1, #sec-2 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #1e1e1e;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;    
    position: absolute; 
    overflow: hidden;   
    width: 56px;
    height: 56px;
    border-radius: 100%;        
    margin: -37px 0 0 -17px;
    background-color: white;
}

header div:nth-child(1):hover {
    animation: showThemes 1s forwards;
}

#img-theme{
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;   
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100%; 
    background-color: white;
}

#images-theme {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 10px;
    margin-top: 50px;
}

#images-theme span {
    padding: 0;
    margin: 10px 0 0 0;
}

#images-theme img {
    width: 30px;
}

#images-theme img:hover {    
    animation: increaseIcon .2s forwards;
    cursor: pointer;
}

@keyframes showThemes {
    0%{
        border-radius: 50px;
    }
    100%{
        display: flex;
        flex-direction: column;
        width: 60px;
        margin: -26px 0 0 -65px;
        border-radius: 5px;
        padding-bottom: 200px;
        padding-top: 10px;
    }
}

h1 {
    text-align: center;    
    font-size: 2.5rem;   
    letter-spacing: 3px;
    color: #070568; 
    margin: 25px auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.inputs {
    position: relative;
}

input {
    width: 200px;
    height: 30px;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 15px;
}

input:focus,
input:valid {
    border: 1px solid #7544a6;
    border-radius: 2px;
    height: 32px;
    width: 202px;
}

.inputs label{
    position: absolute;
    cursor: text;
    left: 0;
    margin: 10px 12px;    
    color: #1e1e1ebd;
}

input:focus ~ label,
input:valid ~ label {
    padding: 0 2px;
    background-color: white;
    color: #7544a6;
    animation: liftLabel .5s forwards;
    margin: 10px 10px;
}

@keyframes liftLabel {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#login {
    cursor: pointer;    
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto 20px;
    color: white;
    background-color: #7244ac;
    box-shadow: 1px 1px 2.2px #1e1e1e;
}

#login:hover {
    background-color: #632f97;
}

#login:active {
    margin: 11px auto 19px;
}

#lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #070568;
}

.line {
    width: 80px;
    height: 1px;
    border: none;
    background-color: #070568;
}

span {
    margin: 10px auto;
    color: #070568;
}

#icons-login {
    display: flex;
    gap: 12px;   
}

#icons-login img {
    width: 40px;
}

#icons-login img:hover {    
    cursor: pointer;    
    animation: increaseIcon .2s forwards;
}

a {
    text-decoration: none;
    color:  #9944ef;
}

a:visited {
    color: #8000ff;
}

#forgot-password {
    margin: 20px;
}

#sec-2 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#downloads {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#downloads span {
    margin: 0  0 10px 0;
    color: white;
    text-shadow: 1px 1px 5px #1e1e1e;
}

.button-download {
    width: 120px;
}

.button-download:nth-child(1) {
    margin-right: 10px;
}

.button-download:hover {
    cursor: pointer;
    animation: increaseIcon .2s forwards;
}

@media (max-width: 856px) {
    body {
    background-position: center;
    }
}

@keyframes increaseIcon {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}