input {
    width: 220px;
}

input:focus,
input:valid {
    width: 222px;
}

#terms,
#receive-email {
    width: 15px;
    margin: 0;
    padding: 0;
}

form div:nth-child(5),
form div:nth-child(6) {
    display: flex;
    align-items: center;
    width: 100%;
}

form div:nth-child(5) label,
form div:nth-child(6) label {
    animation: none;
    margin: 0 0 0 5px;
}