@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;700&display=swap');

.purple {
    --bg-color: #8051b9;
    --bg-image: url(../images-geometric/purple.png);
    --bg-section: white;
    --tittle-color: #070568;
    --input-color: #7544a6;
    --btn-color: #7244ac;
    --btn-border: #3a0f6e;
    --btn-hover-color: #632f97;
    --lines-color: #070568;
    --span-color: #070568;
    --link-color: #9944ef;
    --link-visited-color: #3300ff;
    --shadow-color: #1e1e1e;
}

.yellow {
    --bg-color: #ffc800c4;
    --bg-image: url(../images-geometric/yellow.png);
    --bg-section: #fff;
    --tittle-color: #e95b5b;
    --input-color: #960202;
    --btn-color: #e9c644;
    --btn-border: #c99d00;
    --btn-hover-color: #e3b408;
    --lines-color: #960202;
    --span-color: #960202;
    --link-color: #e95b5b;
    --link-visited-color: #e20404;
    --shadow-color: #9b7d13;
}

.blue {
    --bg-color: #05bdda;
    --bg-image: url(../images-geometric/blue.png);
    --bg-section: #fff;
    --tittle-color: #027181;
    --input-color: #027181;
    --btn-color: #038295;
    --btn-border: #003f49;
    --btn-hover-color: #027181;
    --lines-color: #027181;
    --span-color: #027181;
    --link-color: #05d2f1;
    --link-visited-color: #06b2cd;
    --shadow-color: #027181;
}

.green {
    --bg-color: #59a45b;
    --bg-image: url(../images-geometric/green.png);
    --bg-section: #fff;
    --tittle-color: #3a6a03;
    --input-color: #59a45b;
    --btn-color: #59a45b;
    --btn-border: #2d5104;
    --btn-hover-color: #3c9a3f;
    --lines-color: #59a45b;
    --span-color: #3a6a03;
    --link-color: #6eba16;
    --link-visited-color: #6eba16;
    --shadow-color: #004d03;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    margin: 0;  
    gap: 10px;  
       
    background-color: var(--bg-color);  
    background-image: var(--bg-image);
    background-position: -20%;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;

    font-family: 'Chakra Petch', sans-serif; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 570px;
    width: 350px;
}

#content-form, #content-register {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--shadow-color);
    background-color: var(--bg-section);
}

header div:nth-child(1) {
    display: flex;
    align-items: center;    
    position: absolute; 
    overflow: hidden;   
    width: 56px;
    height: 56px;
    border-radius: 100%;        
    margin: -37px 0 0 -17px;
    background-color: white;
}
header div:nth-child(1):not(:hover) {
    animation: showThemesInit 2.5s forwards;
}

@keyframes showThemesInit {
    0% {
        display: flex;
        flex-direction: column;
        width: 60px;
        margin: -26px 0 0 -65px;
        padding-bottom: 30px;       
        border-radius: 5px;
    }
    40% {        
        padding-bottom: 30px;  
        margin: -25px 0 0 -64px;         
        border-radius: 50px;
    }
    70% {
        padding-bottom: 0;  
        margin: -25px 0 0 -64px;        
        border-radius: 50px;
    }
    100% {        
        display: flex;
        flex-direction: column;
        margin: -37px 0 0 -17px;
        border-radius: 50px;
    } 
}

header div:nth-child(1):hover {
    animation: showThemes 2s forwards;
}

@keyframes showThemes {
    0% {
        border-radius: 50px;
    }
    40% {
        display: flex;
        flex-direction: column;
        width: 60px;
        margin: -26px 0 0 -65px;
        border-radius: 10px;
        padding-bottom: 20px;        
    }
    100% {
        display: flex;
        flex-direction: column;
        width: 60px;
        margin: -26px 0 0 -65px;
        border-radius: 5px;
        padding-bottom: 190px;
    }
}

header div:nth-child(1):not(:hover) img {
    display: none;
}

#img-theme{
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;   
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100%; 
    background-color: white;
}

#images-theme {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 10px;
    margin-top: 45px;
}

#images-theme span {
    padding: 0;
    margin: 10px 0 0 0;
}

.img-theme {
    width: 30px;
}

#images-theme img:hover {    
    animation: increaseIcon .2s forwards;
    cursor: pointer;
}

h1 {
    text-align: center;    
    font-size: 2.5rem;   
    letter-spacing: 3px;
    color: var(--tittle-color); 
    margin: 25px auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    position: relative;
}

input {
    height: 30px;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 15px;
}

input:focus,
input:valid {
    border: 1px solid var(--input-color);
    border-radius: 2px;
    height: 32px;
}

input:invalid:not(:focus){
    color: transparent;
}

.inputs label{
    position: absolute;
    cursor: text;
    left: 0;
    margin: 10px 12px;    
    color: #1e1e1ebd;
}

input:focus ~ label,
input:valid ~ label {
    padding: 0 2px;
    background-color: white;
    color: var(--input-color);
    animation: liftLabel .5s forwards;
    margin: 10px 10px;
}

@keyframes liftLabel {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#login {
    cursor: pointer;    
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto 20px;
    color: white;
    background-color: var(--btn-color);
    border-bottom: 2px solid var(--btn-border);
}

#login:hover {
    background-color: var(--btn-hover-color);
}

#login:active {
    border: none;
    margin: 12px auto 18px;
}

#lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.line {
    width: 80px;
    height: 1px;
    border: none;
    background-color: var(--lines-color);
}

span {
    margin: 10px auto;
    color: var(--span-color);
}

#icons-login {
    display: flex;
    gap: 12px;   
}

#icons-login img {
    width: 40px;
}

#icons-login img:hover {    
    cursor: pointer;    
    animation: increaseIcon .2s forwards;
}

a {
    text-decoration: none;
    color:  var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

#forgot-password {
    margin: 20px;
}

#content-register {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#content-downloads {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#content-downloads span {
    margin: 0  0 10px 0;
    color: white;
    text-shadow: 1px 1px 5px #1e1e1e;
}

.button-download {
    width: 120px;
}

.button-download:nth-child(1) {
    margin-right: 10px;
}

.button-download:hover {
    cursor: pointer;
    animation: increaseIcon .2s forwards;
}

@keyframes increaseIcon {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}